/*@import url(https://fonts.googleapis.com/css?family=Wellfleet);
 @import url(https://fonts.googleapis.com/css?family=Princess+Sofia);
 @import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
 @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
 @import url(https://fonts.googleapis.com/css?family=Englebert);
 @import url(https://fonts.googleapis.com/css?family=Noticia+Text);
 @import url(https://fonts.googleapis.com/css?family=Great+Vibes);
 @import url(https://fonts.googleapis.com/css?family=Galindo);*/
 /*@import url(https://fonts.googleapis.com/css?family=Galindo);*/
@font-face {
	font-family: 'Sofadi One';
	src: url('../fonts/Sofadi_One/SofadiOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 @font-face {
	font-family: 'Galindo';
	src: url('../fonts/Galindo/Galindo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

 @font-face {
	font-family: 'Cousine';
	src: url('../fonts/Cousine/Cousine-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Englebert';
	src: url('../fonts/Englebert/Englebert-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

  @import url(https://fonts.googleapis.com/css?family=Great+Vibes);*/

@import url(http://fonts.googleapis.com/css?family=Sofadi+One);

@import url(http://fonts.googleapis.com/css?family=Shojumaru);

@font-face {
	font-family: 'Didact Gothic';
	src: url('http://openfontlibrary.org/assets/fonts/didact-gothic/4e262e7a846d97a38c8cbb30091e6ab1/cf5117a628442430319eed60e1efdb30/DidactGothicMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.column {
	height: auto;
	/*background-image: url(http://subtlepatterns.com/patterns/subtle_grunge.png); background-position: initial initial; background-repeat: initial initial;*/
	background-color: transparent;
	width: 100%;
	/*	border:1px #999 dashed;*/
	margin-left: auto !important;
	margin-right:auto !important;

}

.column:nth-child(n+2) {
	border-left: 2px dashed white;
}

.button-line {
	margin-top: 20px;
}

.kanban-board {
	margin: 14px;
	height: auto;
	padding-top:50px;
}

.kanban-title {
	/*font-family: 'Sofadi One', cursive;*/
	font-family: 'Shojumaru', cursive;
	font-size: 28px;
	color: #444;
	width: 100%;
}

.indicador-sequencial {
	width: 10%;
	text-align: right;
	padding-right: 5px;
}

.kanban-item {
	min-height: 70px;
	width: 88%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	background-color: #FFFFA5;/* yellow color found here http://www.colourlovers.com/color/FFFFA5/PostIt_Gelb */
	font-size: 12px;
	font-family: 'Cousine';/*'Droid Serif';'Patrick Hand SC';*/

	 /*box-shadow: 1px 1px 5px rgba(0,0,0,0.2);*/
border: 0px;
	/*cursor: move;*/
   /* background-image: linear-gradient(bottom, rgb(255,255,204) 9%, rgb(255,255,242) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,204) 9%, rgb(255,255,242) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,204) 9%, rgb(255,255,242) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,204) 9%, rgb(255,255,242) 100%);*/
}
.kanban-item {
	position: relative;
}

.kanban-item.red {
	background-color: #FFAEAE;
}
.kanban-item.gold {
	background-color: #FCF1C6;
}

.kanban-item.yellow {
	background-color: #FFFFA5;
}

.kanban-item.green {
	background-color: #E0F457;
}

.kanban-item.cloud {
	background-color: #B4D8E7;
}

.kanban-item.blue {
	background-color: #2487C6;
}

.kanban-item .field .field_legend {
	font-weight:bold;
}

.kanban-item .field {
	margin:2 0 2 0;
}

.kanban-item .field .content {
	font-style:italic;
	display:inline-block;
	min-width: 100px;
	min-height: 12px;
}

.kanban-item p {
    margin: 0;
}
.newtask-text {
	height: 70px;
	resize: none;
}

.kanban-header {
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #fff;
	color: #777;
	font-size: 18px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	border: 1px #fff solid;
	padding-top: 8px;
	margin-bottom: 10px;
	font-family: 'Galindo';/*Didact Gothic';/*'Concert One';/* 'Galindo', 'Englebert';'Patrick Hand SC';*/
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.kanban-header span {
    background: url("../img/pin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
    left: 50%;
    right: auto;
    position: relative;
    top: -15px;
    width: 28px;
}

.kanban-header span.tape {
    background: url("../img/tape.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 27px;
    left: 35%;
    position: relative;
    top: -19px;
    width: 65%;
}


/*.kanban-header span {
    background: url("../img/tape.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
    left: 25%;
    right: auto;
    position: relative;
    top: -22px;
    width: 50%;
}*/


.kanban-header p {
	margin-top: -15px;
	text-align:center;
}

.kanban_columns_list{
	float: left;
	min-height: 30px;
	list-style: none outside none;
	width: 100px;
	overflow: hidden;
}

.kanban_columns_list li{
	cursor: move;
	background-color: #000;
	color: white;
	margin: 2px 2px 2px 2px;
}

.column > .container {
	width: 100%;
	height: 100%;
	position: relative
}

.column > .container > .task-list-template1 {
	width: 100%;
	height: 100%;
	top: 40px;
	bottom: 20px;
	left: 0px;
	right: 0px;
	/*overflow-y:auto;*/
}

.column > .container > .task-list-template2 {
	width: 100%;
	height: 100%;
	top: 10px;
	bottom: 20px;
	left: 0px;
	right: 0px;
	/*overflow-y:auto;*/
}

form.entrada_dados {
	margin: 0px 0px 2px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container-entrada {
	padding-top: 90px;
}
.form-entrada {
	max-width: 440px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	height: 390px;
	/*
	 FFFFA5 kanban-yellow
	 F0A308 gold
	 7AEC30 neon green
	 */
	background-color: #FFFFA5;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-entrada .form-entrada-heading, .form-entrada .checkbox {
	margin-bottom: 10px;
}

.form-entrada input {
	width: 420;
	height:auto;
	font-size: 2em;
}

.form-entrada select {
	width: 420px;
	height:auto;
	font-size: 2em;
}

.color_badge {
	width: 20px;
	height: 20px;
	float: left;
	margin: 10px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	cursor: move;
}

.color_badge.red {
	background-color: #FFAEAE;
}
.color_badge.gold {
	background-color: #FCF1C6;
}

.color_badge.yellow {
	background-color: #FFFFA5;
}

.color_badge.green {
	background-color: #E0F457;
}

.color_badge.cloud {
	background-color: #B4D8E7;
}

.color_badge.blue {
	background-color: #2487C6;
}

#export > textarea {
	height: 400px;
}
body {
	/*background-image: url(../img/exclusive_paper.png); background-position: initial initial; background-repeat: initial initial;*/
	/*background-image: url(../img/subtle_grunge.png);*/
	/*background-image: url(../img/abstract.png);*/
	/*background-image: url(../img/wavegrid.png);*/

	/*
	ESTE AQUI
	background-image: url(../img/Texture0203.jpg); 
	*****/
	background-image: url(../img/old_mathematics2.png);
	background-image: url(../img/squairy_light.png);
	background-image: url(../img/cream_dust.png);
	
	background-image: url(../img/giftly.png);
	background-image: url(../img/fresh_snow.png);
	background-image: url(../img/skulls.png);
	background-image: url(../img/notebook.png);
	background-image: url(../img/sos.png);
	
	background-image: url(../img/brickwall.png);
	background-image: url(../img/cream_pixels.png);
	background-image: url(../img/geometry.png);
	background-image: url(../img/wood_pattern.png);
	background-image: url(../img/cork.png);
	background-image: url(../img/retina_wood.png);


	/*background-image: url(../img/bedge_grunge.png);*/
	/*background-image: url(../img/grid.png);*/
	/*background-image: url(../img/cardboard_flat.png);*/
	/*background-image: url(../img/noisy_grid.png);*/
	/*background-image: url(../img/grey.png);*/
	/*background-image: url(../img/shattered.png);*/
	/*background-image: url(../img/swirl.png);*/

	background-color:#FEFED9;
	
	/*background-image: url(../img/madeiraw.png);
	background-position: initial initial;
	background-repeat: initial initial;*/

	overflow-X: hidden;
}

.ui-sortable-helper {
	/*background: transparent;*/
	-webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    -ms-transform: rotate(358deg);
    transform: rotate(358deg);
}

/***
 Alterando classe .thumbnail do bootstrap para evitar lentidão no drag and drop
 http://eli.eliandlyndi.com/2011/12/18/jui-sortable-bootstrap-perf-problem/
 ***/
.thumbnail {
	-webkit-transition: all 0.005s ease-in-out;
	-moz-transition: all 0.005s ease-in-out;
	transition: all 0.005s ease-in-out;
}


#project_setup {
	padding-top: 90px;
	min-height: 400px;
}

#project_setup form.form-entrada {
	max-width: 750px;
}

#project_setup form.form-entrada input{
	width: auto;
}


#project_setup textarea {
	width:684px;
}

#project_setup h1,h2,h3 {
	text-align: center;
	font-family: 'Sofadi One';/*'Libre Baskerville';*/
}

#project_setup form.form-entrada input[type=text] {
	font-size: 1em;
	width:684px;
}

#project_setup input[type=radio] {
	margin-right: 5px;
}

#project_setup label {
	font-weight: bold;
	font-size: 1.2em;
}

#project_setup .column_set div {
	border: 1px solid gray;
	text-align: center;
	border-radius: 4px;
	margin: 4px;
	width:100px;
	height:40px;
	padding-top: 10px;
}

#configKanbanModal {
	width: 900px;
	margin-left: -455px;
}

#editModal textarea {
	width: 100%;
	font-size: 10pt;
	height: 120px;
}

#editModal input {
	width: 100%;
	height: 20px;
	font-size: 10pt;
}

#configColumnsModal input[type='text'] {
	height: 2.5em;
	width:100%;
}

#configColumnsModal div.columns_list {
	width:100%;
	height:170px;
	overflow-y: auto;
}

div.navbar-inverse {
	box-shadow: 1px 1px 12px #003366;
}

div.draggable {
	width:100%;
	height: 18px;
	background-color: transparent;
  	cursor: move;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
         border-radius: 4px;
}

div.draggable:hover {
	background-color: white;
  	opacity: 0.3;
  	filter: alpha(opacity=30);
  	 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

div.column > div.separator {
	position: relative;
	right: 0px;
	width: 14px;
	background-color: black;
	height: 100%;
	float: left;
}

.column-deleted {
	text-decoration: line-through;
	color: red;
}

.table th, .table td {
	border-top: 0px;
}