<!--<section id="app">
  <div class="loading"></div>
</section>-->
<script type="text/ng-template"  id="kanban.html">
<div id="kanban">
<!--inicio topo -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <span class="pull-left brand"><a class="kanban-title pull-left" style="color:white;font-size:16px;" href="#/">KANBAN DESDR :::</a> </span>        <div class="color_select pull-left">
          <div class="color_badge yellow" ng-model="colorYellow" ng-init="colorYellow='yellow'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{'color':'yellow', placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="yellow"></div>
          <div class="color_badge gold"  ng-model="collorGold" ng-init="collorGold='gold'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'gold', placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="gold"></div>
          <div class="color_badge green"  ng-model="colorGreen" ng-init="colorGreen='green'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'green',placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="green"></div>
          <div class="color_badge cloud"  ng-model="colorCloud" ng-init="colorCloud='cloud'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'cloud',placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="cloud"></div>
          
          <div class="color_badge red" ng-model="colorRed" ng-init="colorRed='red'"   data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'red',placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="red"></div>
        </div>
        
        
        <div class="pull-right" style="color:white;padding-top:10px">| Projeto: <a  style="font-size:14px" href="#/projeto/{{projectName}}">{{projectName}}</a> ( <span class="text-warning">{{kanban.name}}</span> )</div>

        <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Outros kanbans <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="kanban in kanbans"><a ng-click="navegar(projectName, kanban._id)">{{kanban.name}}</a></li>
                          
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav">
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Configurar <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="javascript:;" data-target="#configKanbanModal" ng-click="configurarKanban()" data-toggle="modal">Campos</a></li>
                            <li><a href="javascript:;" data-target="#configColumnsModal" ng-click="" data-toggle="modal">Colunas</a></li>
                          </ul>
                      </li>
                    </ul>
                    <!--<form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Search">
                    </form>
                    <ul class="nav pull-right">
                      <li><a href="#">Link</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </li>
                    </ul>-->
                  </div>
      </div>
      </div>
      </div>
<!--fim topo -->
<!--<div class="container">-->
	<div class="kanban-board row-fluid">
    
		<div same-height="kanban" same-height-watcher="$parent.taskEvent()" class="column {{$parent.column_size_class()}}" ng-repeat="status in kanban.status | filter:isStatusNotDeleted ">
      <div class="kanban-header">
        <span class="pin"></span>
        <p contenteditable="true" contenteditable_action="statusNameChanged(status)" ng-model="status.name">{{status.name}}</p>
      </div>
      <div class="container">
          <form ng-show="$index == 0" class="entrada_dados" ng-submit="addTask(status)" autofocus>
             <textarea ng-model="status.newTask.text"  
                    ui-keydown="{'ctrl-enter':'tasksKeypressCallback($event, status)'}"
                    class="span11 newtask-text" ng-init="status.newTask.text=''"
                    placeholder="Adicione aqui novos items  (Pressione Control+Enter após digitar o texto para adicionar a atividade)" />
                    <span ng-show="showControlEnterTip(status) && controlEnterTipEnabled" class="label label-info">Pressione Control+Enter após digitar o texto para adicionar a atividade</span>
                    <input class="btn btn-info" type="submit" value="Adicionar" />
      </form>
        <div class="task-list-template1 grupo-items" ui-multi-sortable ng-model="kanban" status_id="{{status._id}}" model-subset="status[{{$index}}].tasks" model-identity="status._id">
                    <div  class="thumbnail kanban-item {{task.color}}" ng-model="taskColor" ng-repeat="task in status.tasks" data-drop="true"  jqyoui-droppable="{color: '', onDrop:'dropColorCallback'}">
                        <div class="draggable">
                        <i class="close icon-remove pull-right" ng-click="deleteItem(status,$index)"></i>
                        <a data-target="#editModal" data-toggle="modal" ng-click="setCurrentEditingTask(status,$index)"><i class="close icon-pencil pull-right"></i></a>
                        </div>
                        <!--<p class="pull-right indicador-sequencial">#{{$index+1}}</p>-->
                        <!--<p contenteditable="false" contenteditable_action="kanbanTaskChanged(task, status, $index)" ng-model="task.text" ng-bind-html-unsafe="task.text | newlines"></p>-->
                        <div class="field" ng-repeat="field in getKanbanTasksFields()">
                          <span  ng-show="!field.multiline" class="field_legend">{{field.label}}</span>
                          <p  ng-show="field.multiline" class="field_legend">{{field.label}}</p>
                          
                          <span contenteditable="true" contenteditable_action="kanbanTaskFieldChanged(task, field)" spellcheck="false"  ng-show="!field.multiline" class="content" ng-bind-html="task[field.name] | newlines |  unsafe" ng-model="task[field.name]"></span>
                          <p contenteditable="true" contenteditable_action="kanbanTaskFieldChanged(task, field)"  spellcheck="false" ng-show="field.multiline" class="content" ng-bind-html="task[field.name] | newlines |  unsafe" ng-model="task[field.name]"></p>
                        </div>
                        
                    </div>
                    
          </div>
      </div>  
    </div>

	
	
<!--</div>-->


<!-- Modais -->
<div id="configKanbanModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="configKanbanModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Campos</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
      <table class="table">
        <tr>
          <th>#</th>
          <th>Nome do Campo</th>
          <th>Label</th>
          <th>Linhas</th>
          <th></th>
        </tr>
        <tr ng-repeat="field in getKanbanTasksFieldsToEdit()">
          <td>{{$index}}</td>
          <td><input type="text" ng-model="field.name" ng-disabled="$index == 0"/></td>
          <td><input type="text" ng-model="field.label"/></td>
          <td><label><input type="checkbox" ng-model="field.multiline"/> Múltiplas</label></td>
          <td><button ng-show="$index > 0" ng-click="removeFieldFromKanbanTasks($index)">
          <i class="icon-minus"></i></button></td>
        </tr>
      </table>

      <button class="btn" ng-click="addFieldToKanbanTasks()"><i class="icon-plus"></i>Adicionar Campo</button>
    </form>
  </div>
  <div class="modal-footer">
    <span ng-click="saveKanbanConfig()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Salvar</span>
  </div>
</div>

<div id="configColumnsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="configKColumnsModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Colunas</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <div class="columns_list">
      <table class="table" >
        <tr>
          <th>Nome</th>
          <th></th>
        </tr>
        <tr ng-repeat="status in kanban.status |filter:statusEditFilter">
          <td ng-class="{true:'column-deleted', false:''}[kanban.status_deleted.indexOf(status._id) > -1]">{{status.name}}</td>
          <td>
            <a ng-show="kanban.status_deleted.indexOf(status._id) == -1" href="javascript:;" ng-click="deleteStatusColumn(status)">Remover</a>
            <a ng-show="kanban.status_deleted.indexOf(status._id) > -1" href="javascript:;" ng-click="restoreStatusColumn(status)">Restarurar</a>
          </td>
        </tr>
      </table>
    </div>
    <label for="check_show_columns_removed"><input type="checkbox" id="check_show_columns_removed" ng-model="show_columns_removed" />Exibir excluídos</label>
    <div id="new_column_status">
      <form>
        <fieldset>
          <legend>Adicionar coluna</legend>
          <label for="new_kanban_column">Nome da coluna</label>
          <input id="new_kanban_column" type="text" ng-model="newStatusColumnName" placeholder="Digite o nome da coluna">
          <button class="btn " ng-click="addStatusColumn()">Adicionar uma nova coluna</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editModalLabel">Alterar estória</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <form ng-submit="updateTask()" >
        <fieldset>
             
              <div ng-repeat="field in kanban.tasks_fields">
                <div ng-show="!field.multiline">
                  <label>
                    {{field.label}}
                    <input  type="text" ng-model="getEditingTask()[field.name]"></input>
                  </label>
                </div>
                <div ng-show="field.multiline">
                  <label>
                    {{field.label}}
                    <textarea  type="text" ng-model="getEditingTask()[field.name] "></textarea>
                  </label>
                </div>
              </div>
        </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-click="changeTaskText()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Salvar</button>
  </div>
</div>
</script>

  <!-- template1.html -->
  <script type="text/ng-template" id="form-template1.html">
     <form class="entrada_dados" ng-submit="addTask(column)" autofocus>
             <textarea ng-model="column.newTask.text"  
                    ui-keydown="{'ctrl-enter':'tasksKeypressCallback($event, column)'}"
                    class="span11 newtask-text" ng-init="column.newTask.text=''"
                    placeholder="Adicione aqui novos items  (Pressione Control+Enter após digitar o texto para adicionar a atividade)" />
                    <span ng-show="showControlEnterTip(column) && controlEnterTipEnabled" class="label label-info">Pressione Control+Enter após digitar o texto para adicionar a atividade</span>
                    <input class="btn btn-info" type="submit" value="Adicionar" />
      </form>
  </script>

  <!-- template2.html -->
  <script type="text/ng-template" id="form-template2.html">
     
  </script>

<script type="text/ng-template" id="gitlabProjects.html">
    <div class="container container-entrada">
      <div id='provider_select' ng-show="gitlab_phase == 'select_provider'" >
        <form  class="form-entrada">
          <fieldset>
            <legend>Integração com Gitlab</legend>
            <label>Servidor Gitlab:
              <select ng-model="gitlab_provider" ng-options="provider.name for provider in gitlabProviders" name="gitlab_provider" ng-change="gitlabProviderChanged()"></select>
            </label>
          </fieldset>
         <div class="text-center button-line">
            <a href="#gitlabLoginModal" data-toggle="modal">Confirmar</a>
          </div>
        </form>
      </div>
      <div id='project_select' ng-show="gitlab_phase == 'select_project'">
        <form  class="form-entrada" ng-submit="gitlabSelectProject()">
          <fieldset>
            <legend>Integração com Gitlab</legend>
            <label>Servidor Gitlab: 
            <select ng-model="gitlab_provider" ng-options="provider.name for provider in gitlabProviders" name="gitlab_provider" disabled></select>
            </label>
            <label>Projeto Gitlab:
              <select ng-model="gitlab_project" ng-options="project.name for project in gitlabProjects" name="gitlab_project"></select>
            </label>
          </fieldset>
         <div class="text-center button-line">
            <input type="submit" value="Ok"/>
          </div>
        </form>
      </div>
      <div id='milestone_select' ng-show="gitlab_phase == 'select_milestone'">
        <form  class="form-entrada" ng-submit="gitlabSelectMilestone()">
          <fieldset>
            <legend>Integração com Gitlab</legend>
            <label>Servidor Gitlab: 
            <select ng-model="gitlab_provider" ng-options="provider.name for provider in gitlabProviders" name="gitlab_provider" disabled></select>
            </label>
            <label>Projeto Gitlab:
              <select ng-model="gitlab_project" ng-options="project.name for project in gitlabProjects" name="gitlab_project" disabled></select>
            </label>
            <label>Milestones:
              <select ng-model="gitlab_milestone" ng-options="milestone.title for milestone in gitlabMilestones" name="gitlab_milestone"></select>
            </label>
          </fieldset>
         <div class="text-center button-line">
            <input type="submit" value="Ok"/>
          </div>
          </form>
      </div>
      <div id='gitlab_filter' ng-show="gitlab_phase == 'setup_filter'">
      </div>
    </div>

<div id="gitlabLoginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="gitlabLoginModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="gitlabLoginModalLabel">Gitlab Login</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <form ng-submit="gitlabLogin()" class="form-entrada">
          <fieldset>
            <legend>Integração com Gitlab</legend>
            <label>Gitlab Login:<input type="text" ng-model="gitlab_login" name="gitlab_login" value=""></label>
            <label><input type="password" name="gitlab_password" ng-model="gitlab_password"></label>
          </fieldset>
        </form>
  </div>
  <div class="modal-footer">
    <button ng-click="loginGitLab()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Login no Gitlab</button>
  </div>
</div> 

<div id="gitlabProjectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="gitlabProjectsModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="gitlabProjectsModalLabel">Gitlab Login</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <!-- SELECIONAR PROJETO -->
    <div id="gitlab_projects">
    </div>
    <!-- DEFINIR MILESTONE -->
    <div id="gitlab_milestone">
    </div>
    <!-- DEFINIR LABELS -->
    <div id="gitlab_labels">
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="criarKanban()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Entrar</button>
  </div>
</div> 

</script>

<script type="text/ng-template" id="projectSetup.html">
  <div id="project_setup" class="container">
    <form class="form-entrada" ng-submit="defineProjectStatusColumns()">
      <h1>Projeto : {{projectName}}</h1>
      <h3>Definição de colunas</h3>
      <div class="new_kanban_columns">
          <div class="templates">
            <div ng-repeat="template in templates" class="row-fluid">
              <div class="radio">
                <label><input type="radio" value="{{template.name}}" ng-model="$parent.selected_column_template" class="pull-left" name="temp"/> {{template.name}}</label>
              </div>
              <div class="column_set">
                <div class="span2" ng-repeat="column in template.columns.keys()">{{column}}</div>
              </div>
            </div>
            <div class="custom">
              <div class="radio">
                <label><input type="radio" value="custom" ng-model="selected_column_template" name="temp"/>Colunas</label>
              </div>
              <!--<input type="text" id="txt_custom_column_name" ng-model="custom_columns_name" placeholder="Nome do Template"/>-->
              <input type="text" id="txt_custom_columns" ng-model="kanban_custom_columns" placeholder="Coloque o nome das colunas separado por vírgulas."/>
            </div>
          </div>
       </div>
       <div class="pagination-centered">
          <input type="submit" class='btn-large btn-primary' type='submit' value="OK"/>
        </div>
    </form>
  </div>
</script>

<script type="text/ng-template"  id="projectSelection.html">
 <div class="container">
      <div ng-show="showProjetoSelection">
        <form ng-submit="addNewProject()" class="form-entrada">
        <h2 class="kanban-title text-center">KANBAN DESDR</h2>
          <fieldset>
            <label>Informe o projeto você deseja acessar?</label>
            <select ng-focus="showProjetoSelection" ng-model="currentProject" type="text" ng-options="p.name as p.name for p in projects" ng-change="projectChanged()">
            </select>
            <div class='text-info'>ou</div>
            <label>Crie um novo Projeto</label>

          </fieldset>
          
            <input class="span2" type='text' required="true" ng-model="novoProjeto" placeholder/>
            <div class="text-center button-line">
              <button class='btn-large btn-primary text-center' type='submit'>Criar Projeto</button>
            </div>
          
        </form>
      </div>
      <div ng-hide="showProjetoSelection">
        <form ng-submit="addNewKanban()"  class="form-entrada">
        <h2 class="kanban-title text-center">KANBAN DESDR</h2>
          <fieldset>
            <label>Informe o projeto você deseja acessar?</label>
            <select ng-focus="showProjetoSelection" ng-model="currentProject" type="text" ng-options="p.name as p.name for p in projects" ng-change="projectChanged()">
            </select>
            <button ng-click="projectSetup()">Configurar Projeto</button>
            <div ng-show='showKanbansList()'>
               <label>Escolha o Kanban</label>
               <select ng-focus="!showProjetoSelection" ng-model="currentKanban" ng-options="k.name for k in kanbans" ng-change="kanbanChanged()"></select>
               <div class='text-info'>ou</div>
             </div>
          </fieldset>
          
          <div class="box">
            <label>Informe o nome do Kanban</label>
            <input type='text' required="true" ng-model="novoKanban" placeholder="ex: 'Iteração 1'" ng-focus="!showProjetoSelection"/>
            
            <ul class="kanban_columns_list" ng-model="colunas_disponiveis" ui-sortable="sortableOptions" >
              <li ng-repeat="item in colunas_disponiveis">{{item}}</li>
            </ul>
            <ul class="kanban_columns_list" ng-model="colunas_selecionadas" ui-sortable="sortableOptions" >
              <li ng-repeat="item in colunas_selecionadas">{{item}}</li>
            </ul>
          </div>
          <div class="pagination-centered">
            <button class='btn-large btn-primary' type='submit'>Criar Kanban</button>
          </div>
          <div class="pull-right">
            <a href="#/">Novo Projeto</a>
          </div>
        </form>
      </div>
  </div>
</script>

<script type="text/ng-template"  id="socket.html">
    Mensagem: <input type="text" ng-model="mensagem">
    <button ng-click="enviarMensagem()"  class="btn-primary">Enviar Mensagem</button>
    
    <pre>
      {{socket_data}}
    </pre>
</script>
 <div ng-view></div>
 